
.vs/refinements/v16/.suo
.vs/slnx.sqlite
.vs/Syncompleixty/v16/.suo
.vs/VSWorkspaceState.json
src/bin/Debug/FSharp.Core.xml
src/bin/Debug/FSharpx.Collections.pdb
src/bin/Debug/FSharpx.Collections.xml
src/bin/Debug/FsLexYacc.Runtime.xml
src/bin/Debug/negation.exe
src/bin/Debug/negation.pdb
src/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.fs
src/obj/Debug/negation.exe
src/obj/Debug/negation.pdb
src/obj/Debug/refinements.fsproj.CopyComplete
src/obj/Debug/refinements.fsproj.CoreCompileInputs.cache
src/obj/Debug/refinements.fsproj.FileListAbsolute.txt
src/obj/refinements.fsprojAssemblyReference.cache
src/bin/Debug/negation.exe
src/bin/Debug/negation.pdb
src/obj/Debug/negation.exe
src/obj/Debug/negation.pdb
*.exe
src/bin/Debug/negation.exe
*.exe
